.button-replay {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

table {
  border-collapse: collapse;
  border-radius: 0.3rem;
}

table,
th,
td {
  border: none;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--color-container-bg);
}

.table-header-column {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.playerName {
  max-width: 170px;
  overflow: hidden;
  text-wrap: nowrap;
}

.gameResultRow {
  cursor: pointer;
  border-left: 2px solid transparent;
}

.gameResultRow.selected {
  background-color: var(--color-dark);
  border-color: var(--color-orange);
}

.gameResultRow:hover {
  background-color: var(--color-dark);
}

table {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.active {
  color: var(--color-orange);
}

.winner-time-column {
  text-align: end;
  padding-right: 2rem;
}

.scrollable-container {
  position: relative;
  overflow-y: scroll;
  max-height: 30vh;
}

.bestlist-search {
  color: var(--color-light);
  background-color: transparent;
  border: 2px solid var(--color-light);
  border-radius: 0.5em;
  padding: 0.2rem 0.8rem;
  font-size: 1rem;
  transition: border-color 0.2s;
}
