@import "@/assets/button.css";

:root {
  --color-light: #cfcfcf;
  --color-light-gray: #727e88;
  --color-yellow: #d7cc00;
  --color-yellow-transparent: #fff20088;
  --color-orange: #c58300;
  --color-orange-transparent: #c5830088;
  --color-green: #61c200;
  --color-player-2: #0117ccdd;
  --color-player-2-transparent: #0119cc5c;
  --color-red: #ac3931;
  --color-container-bg: #12263a;
  --color-dark: #01172c;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-light);
}

* {
  box-sizing: border-box;
}

img {
  width: 15vh;
  max-height: 6rem;
  max-width: 6rem;
}

h1 {
  margin: 0.5rem;
  color: var(--color-light);
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: var(--color-dark);
  display: flex;

  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: 1rem;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0.5rem;
}

.input-field > label {
  color: var(--color-dark);
  font-size: 0.8rem;
}

.input-field-light > label {
  color: var(--color-light);
}

.input-field > input {
  border: none;
  background: none;
  border-bottom: 1px solid var(--color-dark);
  padding: 0.2rem;
  width: 13rem;
}

.input-field-light > input {
  border-bottom-color: var(--color-light);
  color: var(--color-light);
}

.input-field > span {
  max-width: 13rem;
  margin-top: 0.2rem;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: stretch;
  flex-direction: column;
}

li {
  list-style: none;
  width: 100%;
  min-height: 2.5rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.home-view-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main-board-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  column-gap: 5vw;
  row-gap: 5vh;
  height: fit-content;
  width: min(100%, 1920px);
  padding: 2rem;
}

@media (max-width: 800px) {
  html,
  body {
    height: 100%;
    overflow-y: auto;
  }

  .main-board-container {
    padding: 0.5rem;
  }
}

.main-board-container::-webkit-scrollbar-track {
  margin-top: 1.5rem;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-light-gray);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-light);
}

.content-card {
  max-width: min(90vw, 650px);
  min-width: 350px;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-column-gap: 2vw;
  grid-row-gap: 2vh;
  width: 100%;
  height: 100%;
  padding: 2rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 6vh);
}

.listing-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4% 6%;
  width: 100%;
  background-color: var(--color-container-bg);
  border-radius: 0.5rem;
  overflow: hidden;
  max-height: 30rem;
}
@media (max-width: 800px) {
  .listing-container {
    gap: 1rem;
  }
}

.listing-container > .fixed-top-left {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.listing-container > .fixed-top-right {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
@media (max-width: 800px) {
  .listing-container > .fixed-top-left {
    top: 0.5rem;
    left: 0.5rem;
  }
  .listing-container > .fixed-top-right {
    top: 0.5rem;
    right: 0.5rem;
  }
}

.listing-container > span {
  align-self: center;
  opacity: 0.7;
}

.listing-container > ul {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.listing-container > table {
  overflow-y: scroll;
  max-height: 30vh;
}

.listing-container > ul > li {
  padding: 0 10px;
}

.listing-container > h2 {
  align-self: center;
  margin: 0;
}

.listing-container.bestList-container {
  max-height: 500px;
  margin-bottom: 6%;
}

.error {
  color: var(--color-red);
  font-size: 0.8rem;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  border-top: none;
  border-bottom: none;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 min(max(0.2rem, 0.5vw), 0.5rem);
  border: min(max(min(0.5vh, 0.5vw), 2px), 0.3rem) solid transparent;
  border-radius: min(max(min(3vh, 3vw), 2px), 3rem);
  transition: 0.1s ease-in-out;
}

.hint {
  border-color: var(--color-yellow);
  transition: 0.1s ease-in-out;
}

.cell {
  background-color: var(--color-dark);
  width: min(10vw, 10vh);
  height: min(10vw, 10vh);
  border-radius: 25%;
  margin: min(max(0.2rem, 0.5vw), 0.5rem) 0;
  border: 2px solid var(--color-light);
  transition: 0.1s ease-in-out;
}

.column > .placingCell {
  transition: 0.1s ease-in-out;
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(0.9) rotate(90deg);
  }
  50% {
    transform: scale(1) rotate(180deg);
  }
  75% {
    transform: scale(0.9) rotate(270deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

.playableColumn:hover > .nextPlacingCell {
  background-color: var(--color-orange-transparent);
  transition: 0.1s ease-in-out;
}

.playableColumn:hover {
  cursor: grab;
}

.colorPlayerLeft {
  background-color: var(--color-orange);
  transition: 0.1s ease-in-out;
}

.colorPlayerRight {
  background-color: var(--color-player-2);
  transition: 0.1s ease-in-out;
}

.lastPlacedStone {
  border-color: var(--color-red);
  border-width: 5px;
  transition: 0.1s ease-in-out;
}

.loading-state {
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top-color: var(--color-orange);
  border-left-color: var(--color-orange);
  animation: loading 1s linear infinite;
}
@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

.checkmark > polyline {
  color: var(--color-green);
}

.cross > line {
  color: var(--color-red);
}
