:root {
  --color-light: #cfcfcf;
  --color-light-gray: #727e88;
  --color-yellow: #d7cc00;
  --color-orange: #c58300;
  --color-orange-transparent: #c5830088;
  --color-green: #61c200;
  --color-player-2: #0117ccdd;
  --color-red: #d13f00;
  --color-container-bg: #12263a;
  --color-dark: #01172c;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-light);
}

* {
  box-sizing: border-box;
}

img {
  width: 15vh;
  max-height: 6rem;
  max-width: 6rem;
}

h1 {
  margin: 0.5rem;
  color: var(--color-light);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.login-container {
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-container > form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5em;
  background-color: var(--color-orange);
  border-radius: 1em;
}

form > .input-field {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0.5rem;
}

form > .input-field > label {
  color: var(--color-dark);
  font-size: 0.8rem;
}

form > .input-field-light > label {
  color: var(--color-light);
}

form > .input-field > input {
  border: none;
  background: none;
  border-bottom: 1px solid var(--color-dark);
  padding: 0.2rem;
  width: 13rem;
}

form > .input-field-light > input {
  border-bottom-color: var(--color-light);
  color: var(--color-light);
}

form > .input-field > span {
  max-width: 13rem;
  margin-top: 0.2rem;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: stretch;
  flex-direction: column;
}
li {
  list-style: none;
  width: 100%;
  min-height: 2.5rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.main-board-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 5vw;
  row-gap: 5vh;
  padding: 2rem;
  height: min(100%, 1080px);
  width: min(100%, 1920px);
  overflow-y: scroll;
  margin-top: 120px;
}

.main-board-container::-webkit-scrollbar-track {
  margin-top: 1.5rem;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-light-gray);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-light);
}

.content-card {
  max-width: min(90vw, 650px);
  min-width: 400px;
  width: 100%;
}

.header-container {
  width: 100%;
  height: 160px;
  padding: 2rem;
  z-index: 100;
  background: linear-gradient(to bottom, var(--color-dark) 85%, transparent 100%);
  position: absolute;
  top: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-column-gap: 2vw;
  grid-row-gap: 2vh;
  width: 100%;
  height: 100%;
  padding: 2rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 6vh);
}

.listing-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 6% 8%;
  width: 100%;
  background-color: var(--color-container-bg);
  border-radius: 0.5rem;
}

.listing-container > ul {
  overflow-y: scroll;
  max-height: 30vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.listing-container > ul > li {
  padding: 0 10px;
}

.listing-container > h2 {
  align-self: center;
  margin: 0;
}

button {
  padding: 0.4rem 0.8rem;
  color: var(--color-dark);
  font-size: 1rem;
  font-weight: bolder;
  border: 2.5px solid var(--color-dark);
  border-radius: 50vmin;
  background-color: transparent;
  margin: 0;
  transition: 0.2s ease-in-out;
}

button:hover:enabled,
button:focus:enabled {
  background-color: var(--color-dark);
  color: var(--color-light);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:disabled {
  opacity: 30%;
}

button:active:enabled {
  transform: translateY(2px);
}

.button-white {
  color: var(--color-light-gray);
  border-color: var(--color-light-gray);
}

.button-white:hover:enabled,
.button-white:focus:enabled {
  background-color: var(--color-light-gray);
  color: var(--color-dark);
}

.button-white:disabled {
  color: var(--color-light-gray);
  border-color: var(--color-light-gray);
}

.button-light {
  color: var(--color-orange);
  border-color: var(--color-orange);
}

.button-light:hover:enabled,
.button-light:focus:enabled {
  background-color: var(--color-orange);
  color: var(--color-light);
}

.button-light:disabled {
  color: var(--color-orange);
  border-color: var(--color-orange);
}

.button-danger {
  height: 36px;
  width: 36px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3.5px solid var(--color-red);
}

.button-danger:hover:enabled,
.button-danger:focus:enabled {
  background-color: var(--color-red);
}

.button-danger:hover:enabled > .cross > line,
.button-danger:focus:enabled > .cross > line {
  color: var(--color-light);
}

.button-accept {
  height: 36px;
  width: 36px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3.5px solid var(--color-green);
}

.button-accept:hover:enabled,
.button-accept:focus:enabled {
  background-color: var(--color-green);
}

.button-accept:hover:enabled > .checkmark > polyline,
.button-accept:focus:enabled > .checkmark > polyline {
  color: var(--color-light);
}

.button-glowing {
  color: whitesmoke;
  border: 2px solid #fff20088;
  background-color: #fff20088;
}

.button-glowing:hover:enabled,
.button-glowing:focus:enabled {
  border: 2px solid whitesmoke;
  background-color: #fff200aa;
  color: whitesmoke;
}

.button-glowing:disabled {
  color: #fff20088;
  border-color: #fff20088;
  background-color: transparent;
}

.button-link:hover:enabled,
.button-link:focus:enabled {
  color: var(--color-container-bg);
  text-decoration: underline;
  background-color: transparent;
}

.button-link {
  background: none;
  border: none;
  color: var(--color-dark);
  font-style: italic;
  font-size: 0.9rem;
  padding: 0;
}

.error {
  color: var(--color-red);
  font-size: 0.8rem;
}

.player-info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: var(--color-light);
  padding: 1rem;
}

.player-info > label {
  font-size: larger;
}

.player-info > button {
  margin: 0.5rem 0rem;
}

.player-info-left {
  align-items: flex-start;
}

.player-info > label {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.player-info-left > label {
  background-color: var(--color-orange);
}
.player-info-right > label {
  background-color: var(--color-player-2);
}
.player-info-right {
  align-items: flex-end;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  border-top: none;
  border-bottom: none;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 0.3rem;
  border: 0.3rem solid transparent;
  border-radius: 2rem;
}

.hint {
  border-color: var(--color-yellow);
}

.cell {
  background-color: var(--color-dark);
  width: min(8vw, 10vh);
  height: min(8vw, 10vh);
  border-radius: 25%;
  margin: 0.3rem 0;
  border: 2px solid var(--color-light);
}

.playableColumn:hover > .nextPlacingCell {
  background-color: var(--color-orange-transparent);
}

.playableColumn:hover:enabled {
  cursor: grab;
}
/* 
.playableColumn:hover {
  background-color: var(--color-orange);
} */

.colorPlayerLeft {
  background-color: var(--color-orange);
}

.colorPlayerRight {
  background-color: var(--color-player-2);
}

.loading-state {
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top-color: var(--color-orange);
  border-left-color: var(--color-orange);
  animation: loading 1s linear infinite;
}
@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

.checkmark > polyline {
  color: var(--color-green);
}

.cross > line {
  color: var(--color-red);
}
